@mixin center-outer() {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: map_get($content-breakpoints, xl);
}

@mixin center-inner($responsive: true) {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: map_get($content-breakpoints, m);
}

@mixin center-inner-large($responsive: true) {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: map_get($content-breakpoints, l);
}

@mixin center-inner-xl($responsive: true) {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: map_get($content-breakpoints, xl);
}

@mixin center-inner-mm($responsive: true) {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: map_get($content-breakpoints, mm);
}

@mixin center-inner-mmm($responsive: true) {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: map_get($content-breakpoints, mmm);
}

@mixin center-inner-ll($responsive: true) {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: map_get($content-breakpoints, ll);
}

@mixin center-inner-small($responsive: true) {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: map_get($content-breakpoints, s);
}

%padding {
  @include media-breakpoint-down(xs) {
    padding-left: map_get($gutter, small);
    padding-right: map_get($gutter, small);
  }
  @include media-breakpoint-between(s, m) {
    padding-left: map_get($gutter, medium);
    padding-right: map_get($gutter, medium);
  }
  @include media-breakpoint-up(l) {
    padding-left: map_get($gutter, large);
    padding-right: map_get($gutter, large);
  }
}

%padding-full {
  @include media-breakpoint-down(xs) {
    padding: map_get($gutter, small);
  }
  @include media-breakpoint-between(s, m) {
    padding: map_get($gutter, medium);
  }
  @include media-breakpoint-up(l) {
    padding: map_get($gutter, large);
  }
}


%margin-top {
  @include media-breakpoint-down(xs) {
    margin-top: map_get($gutter, small);
  }
  @include media-breakpoint-between(s, m) {
    margin-top: map_get($gutter, medium);
  }
  @include media-breakpoint-up(l) {
    margin-top: map_get($gutter, large);
  }
}
