@font-face {
  font-family: 'Gotham-Medium';
  font-style: normal;
  src: url('~@/assets/Gotham-Medium.ttf');
}

@font-face {
  font-family: 'Gotham-Medium';
  font-style: italic;
  src: url('~@/assets/Gotham-MediumItalic.ttf');
}

@font-face {
  font-family: 'Sentinel-Book';
  src: url('~@/assets/Sentinel-Book.otf'); // TODO: use ttf
  font-weight: normal;
}

%typo-h1 {
  font-family: 'Gotham-Medium';
  font-weight: normal;
  font-style: normal;
  color: $color--midnight;

  @include media-breakpoint-down(xs) {
    font-size: 48px;
    line-height: 48px;
  }
  @include media-breakpoint-between(s, m) {
    font-size: 48px;
    line-height: 48px;
  }
  @include media-breakpoint-up(l) {
    font-size: 56px;
    line-height: 56px;
  }
}

%typo-h2 {
  font-family: 'Gotham-Medium';
  font-weight: normal;
  font-style: normal;
  color: $color--midnight;

  @include media-breakpoint-down(xs) {
    font-size: 32px;
    line-height: 40px;
  }
  @include media-breakpoint-between(s, m) {
    font-size: 32px;
    line-height: 40px;
  }
  @include media-breakpoint-up(l) {
    font-size: 36px;
    line-height: 48px;
  }
}

%typo-h3 {
  font-family: 'Sentinel-Book';
  font-weight: normal;
  font-style: normal;
  color: $color--dark;

  @include media-breakpoint-down(xs) {
    font-size: 24px;
    line-height: 32px;
  }
  @include media-breakpoint-between(s, m) {
    font-size: 24px;
    line-height: 32px;
  }
  @include media-breakpoint-up(l) {
    font-size: 28px;
    line-height: 40px;
  }
}

%typo-p--large {
  font-family: 'Sentinel-Book';
  font-weight: normal;
  font-style: normal;
  color: $color--dark;

  @include media-breakpoint-down(xs) {
    font-size: 19px;
    line-height: 26px;
  }
  @include media-breakpoint-between(s, m) {
    font-size: 19px;
    line-height: 26px;
  }
  @include media-breakpoint-up(l) {
    font-size: 24px;
    line-height: 32px;
  }
}

%typo-p--regular {
  font-family: 'Sentinel-Book';
  font-weight: normal;
  font-style: normal;
  color: $color--dark;

  @include media-breakpoint-down(xs) {
    font-size: 17px;
    line-height: 24px;
  }
  @include media-breakpoint-between(s, m) {
    font-size: 17px;
    line-height: 24px;
  }
  @include media-breakpoint-up(l) {
    font-size: 22px;
    line-height: 32px;
  }
}

%typo-p--small {
  font-family: 'Sentinel-Book';
  font-weight: normal;
  font-style: normal;
  color: $color--dark;

  @include media-breakpoint-down(xs) {
    font-size: 14px;
    line-height: 24px;
  }
  @include media-breakpoint-between(s, m) {
    font-size: 14px;
    line-height: 24px;
  }
  @include media-breakpoint-up(l) {
    font-size: 18px;
    line-height: 24px;
  }
}

%typo-label {
  font-family: 'Gotham-Medium';
  font-weight: normal;
  font-style: normal;
  letter-spacing: 1px;
  color: $color--gray;
  text-transform: uppercase;

  @include media-breakpoint-down(xs) {
    font-size: 14px;
    line-height: 14px;
  }
  @include media-breakpoint-between(s, m) {
    font-size: 14px;
    line-height: 14px;
  }
  @include media-breakpoint-up(l) {
    font-size: 14px;
    line-height: 14px;
  }
}

%typo-link {
  font-family: 'Gotham-Medium';
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  color: $color--copper;
  font-size: 14px;
  text-decoration: none;

  &::after {
    content: url('/uploads/arrow-button_link.svg');
    width: 22px;
    height: 12px;
    margin-left: 12px;
  }
}

%button {
  width: 192px;
  height: 48px;
  background: $color--copper;
  @extend %typo-label;
  color: $color--white;
  cursor: pointer;
  border: none;

  &:focus {
      outline: none;
  }
}

%bulletlist {
  list-style: none;
  padding: 0;

  li {
    @extend %typo-p--regular;
    position: relative;
    padding-left: 50px;

    + li {
      margin-top: 10px;
    }

    &:before,
    &:after {
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      display: block;
      width: 34px;
      height: 34px;
    }
    &:before {
      background: $color--lightgray;
      border-radius: 100%;
      z-index: 1;
    }
    &:after {
      background: url(~@/assets/svg/tick.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
      width: 16px;
      height: 16px;
      margin-left: (34px - 16px) / 2;
      margin-top: (34px - 16px) / 2;
      z-index: 2;
    }
  }
}
