$grid-breakpoints: (
        xs: 0,
        s: 576px,
        m: 768px,
        l: 1024px,
        xl: 1280px,
        xxl: 1440px
) !default;

$content-breakpoints: (
        xxs: 0,
        xs: 380px,
        s: 928px,
        mm: 1169px,
        mmm: 1288px,
        m: 1400px,
        l: 1408px,
        ll: 1600px,
        xl: 1920px
) !default;

$textandicon-breakpoints: (
        s: 1080px,
        m: 1288px,
        l: 1408px
) !default;

$gutter: (
        small: 20px,
        medium: 40px,
        large: 60px
) !default;

$gridcolumns: 12;
$responsivegutter: false;

$color--midnight: #2D374B;
$color--copper: #B08770;
$color--gray: #A4A6A8;
$color--lightgray: #F5F5F5;
$color--dark: #4C4E56;
$color--white: #fff;

$header-height: 100px;
